body {
    background-color: black;
    background-image: url('../images/city\ night.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    width: 99vw;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    height: 50px;
    margin: 0 auto;
}

.choose-diff {
    margin: 15px auto;
    font-size: 1.5rem;
}

.beginner-btn {
    background-color: rgba(34, 240, 34, 0.7);
}

.hard-btn {
    background-color: rgba(235, 146, 30, 0.7);
}

.expert-btn {
    background-color: rgba(226, 18, 18, 0.7);
}

.beginner-btn, .hard-btn, .expert-btn {
    margin-right: 10px;
    height: 80px;
    width: 120px;
    border-radius: 10px;
    line-height: 20px;
    font-weight: bold;
    border: none;
}

.beginner-btn:active, .hard-btn:active, .expert-btn:active, td:active {
    transform: scale(0.9);
}

.lives-left span {
    color: rgba(255, 32, 32, 0.9)
}

.hints-left span {
    color: rgba(255, 240, 32, 0.9)
}

.mines-left, .time-left {
    display: inline;
}

.lives-left, .hints-left, .time-left, .mines-left {
    margin: 10px auto;
    font-size: 1.3rem;
}

.hints-left span:hover {
    cursor: pointer;
}

.board-container {
    margin: auto;
    margin-top: 10px;
}

.restart-btn {
    display: block;
    margin: auto;
    margin-top: 25px;
}

table {
    margin: auto;
    border-spacing: 4px;
}

td {
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, .9);
    color: black;
    border-radius: 5px;
    border: 0.5px solid black;
}

button:hover, td:hover, .hints-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hidden {
    color: rgba(0, 0, 0, 0);
}

.shown {
    background-color: rgba(255, 255, 255, .6);
}

.restart-btn {
    margin: auto;
    height: 20px;
    width: 20px;
}

.restart-btn:hover {
    cursor: default;
}